@import 'main.css';

.book-item {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
  background-color: snow;
  width: 70vw;
}
.book-info {
  margin: 1rem;
  width: auto;
}
.book-item img {
  width: 100%;
}

@media (max-width: 600px) {
  .book-item {
    width: 98vw;
    align-items: center;
    flex-direction: column;
  }
  .book-info {
    width: 98%;
  }
}
